footer{
    width: 100%;
    height: 78px;
    background-color: #343190;
    text-align: center;    
    display: flex;
    align-items: center;
    justify-content: center;    
}
footer p{
    font-size: 1.6rem;
    color: #fff;
}
@media (max-width:430px){
    footer{
        width: 430px;
    }
}
