header{
    width: 100%;
    height: 836px;
    background-color: #f9f4fb;
}
.hero{
    width: 100%;
    height: inherit;
    display: flex;    
}
.hero-text{
    flex: 1;
    display: flex;
    flex-direction: column; 
         
}
.hero-text h1{
    margin-top: 300px;
    font-weight: 900;
    color: #B52184;
    font-size: 5.8rem;
}
.hero-text p{
    font-weight: 600;
    font-size: 3.2rem;
}
@keyframes setaAnimacao {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
.hero-btn-arrow{
    margin-top: 200px;
    width: 58px;
    height: 105px;
    border: 2px solid #B52184;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: setaAnimacao 2s ease-in-out infinite;
}


.hero-img{
    width: 719px;
    height: 732px;
    max-width: 100%;
}
@media (max-width:430px) {
    header{
         width: 430px;
        height: 679px;
        
    }
    .hero{                  
       flex-direction: column-reverse;
       padding: 0 30px;
    }
    .hero-text{ 
        margin-top: 50px;       
        height: 300px;
        align-items: center;
    }
    .hero-text h1{
        margin-top: 0;
        font-size: 3.2rem;
    }
    .hero-text p{
        font-size: 2rem;
    }
    .hero-img{
        width: 364px;
        height: 370px;
    }
    .hero-btn-arrow{
        margin-top: 50px;
    }
    
}
