@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;900&display=swap');
@import url('../css/header.css');
@import url('../css/main-content.css');
@import url('../css/main-content.css');
@import url('../css/footer.css');
*{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    --gradient-background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}
body{
    background-color: #f9f4fb;
}
img{
    max-width: 100%;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
}